<div class="kanjosen">
<%= image_tag "kanjosen.png", size: '550x500'%><br>
<h1>感情線</h1>
<h2>感情線とは、小指の下にあるふくらみの下あたりから中指や人差し指の方へ伸びる線で、
愛情や感受性、性格の傾向などを表す線です。恋愛傾向や感情の起伏、傾向、クールな人か、
優しくて思いやりのある人なのかが分かります。</h2>
</div>