<div class="select-images">
  <a href="/tweets/result?answer=haikei1">
   <%= image_tag "haikei1.png", size: '1560x650' %><br>
  </a>
</div>

<h1>診断スタート</h1>

<h2>知りたい手相を選ぶ</h2>
<div class="select-images">
  
   <%= image_tag "haikei2.png",class:"shindanimg" %><br>
   <a href="/tweets/question2?answer=生命線" class="s-btn">生命線</a>
   <a href="/tweets/question2?answer=知能線" class="t-btn">知能線</a>
   <a href="/tweets/question2?answer=感情線" class="k-btn">感情線</a>
   <a href="/tweets/question2?answer=運命線" class="u-btn">運命線</a>
</div>

