<div id="tweets">
<div class="box3">
<p><% @tweets.each do |tweet| %></p>
<% if params[:answer] == tweet.title %>
<div class="result">
</div>
<% if tweet.image.attached? %>
    <%= image_tag tweet.image, size: '250x200'%>
    <br>
    <br>
<% end %>  
   <%= tweet.body %>
   <br>
   <br>
    </div>  
    <div class="button">  
        <%= link_to "手相一覧に戻る", question1_tweets_path%>
    </div>
        </p>
    <% end %>
  <% end %>
</div>