<h3><div id="tweets"><h3>
  <% @tweets.each do |tweet| %>
   <% if params[:answer] == tweet.title %>
     <div class="result"> 
     <% if tweet.image.attached? %>
    <%= image_tag tweet.image, size: '250x200'%>
    <br>
<% end %>  
   <%= tweet.body %>
    </div>    
        <%= link_to "手相一覧に戻る", tweet %>
        </p>
    <% end %>
  <% end %>
</div>