<div class="seimeisen">
<%= image_tag "seimeisen.png", size: '550x500'%><br>
<h1>生命線</h1>
<h2>生命線は、人差し指と親指の付け根の間から、親指の付け根のふくらみを囲みながら手首方向へ伸びる線のことを言います。
健康状態や病気、怪我の予知、生命力が分かります。生命線を見るときには、生命線の長さ・濃さや太さに加えて、始点の位置、
途中に横線が入っているかどうかをしっかりみていきます。</h2>
</div>