<div class="sonota">
<%= image_tag "sonota.png", size: '550x650'%><br>
<h1>財運線、太陽線、結婚線</h1>
<h2>財運線とは、小指の下部分にある斜め線や縦線で、お金との縁や金運の状態を表す手相です。
太陽線は、薬指の付け根から下のあたりに縦に伸びる線で、人気や成功、名声、芸術などを表す手相です。
結婚線は、小指の付け根と感情線の間にある短い横線のことです。結婚線によって結婚する目安の年齢や結婚生活が円満に送れるかも占うことができます。
</h2>
</div>