<div class="tinosen">
<%= image_tag "tinosen.png", size: '550x500'%><br>
<h1>知能線</h1>
<h2>知能線は、物事を考える早さや長さ、楽観的か悲観的かといった思考の傾向、判断力、記憶力、創造力、
どんな才能を持っているかのような知的さに関わることが出ている線です。頭脳線を見ればその人が内面に
秘めている性格もわかります。また、向いている職業なども知ることができます。理性的な人かどうか、
自らの意志を持って生きているか人かどうかも現れる重要な線です。
</h2>
</div>